<section>
  <div>
      <img style="margin: auto; display: block;" src="http://toolboxsv.com/dev/datapaga/logo.png" alt="">
  </div>
  <div style="min-height: 200px; max-width: 600px; text-align: justify; margin: auto; padding: 25px 0px;">
  <p>Haz click aquí para cambiar tu contraseña</p>

    <p><%= link_to 'Combiar Contraseña', "https://toolbox-dp.herokuapp.com/reset/#{@resource.reset_password_token}", style: "color: red" %></p>

    <p>Si no te has registrado recientemente en DataPaga, o no has solicitado el cambio de contraseña, ponte en contacto con nosotros</p>

    <p>Gracias por tu tiempo</p>

    <p>DataPaga</p>
  </div>
  <footer style="background-color: #f5f5f5 ; height: 100px;  text-align: center; padding-top: 10px; color: #868181 ;">
      <p>Si tienes alguna duda, ponte en contacto con DataPaga a través del correo electrónico support@datapaga.com.</p>
      <p>DataPaga, Inc. 2017</p>
  </footer>
</section>
